<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
    <link rel="shortcut icon" href="images/if_laptop_1805073.ico" type="image/x-icon">
</head>

<body>
    <!-- Header -->

    <!-- End Header -->


    <!-- Main -->
    <section>
        <div class="container">
            <div class="row justify-content-around mt-5">
                <div class="card notification-card">
                    <h5 class="card-header">Notification title</h5>
                    <div class="card-body p-4">
                        <div class="p-3">
                            <p>
                                lasjdlfjlsdjfljkasdlfkjl4
                                ksadlhfkjdsafkj
                               <a href=""> https://github.com/ahmedAdel202090/online-Test/pull/4 </a>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Main -->





    <!-- Footer -->

    <!-- End Footer -->


    <script src="js/bootstrap.min.js"></script>
</body>

</html>