<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
    <link rel="shortcut icon" href="images/if_laptop_1805073.ico" type="image/x-icon">
</head>

<body>
    <!-- Header -->

    <!-- End Header -->
    <!-- <% for(var i=0;i<title.length;i++){ %>
            <h1>
                <%= title[i] %>
            </h1>
     <% } %>
 -->



    <!-- Main -->
    <section>
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-4 col-sm-12">
                    <div class="card signIn-content">
                        <div class="card-body">
                            <form action="#" method="GET" id="signInForm" class="text-center" >
                                <div class="mb-4">
                                    <h3>Sign In</h3>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input type="text" name="name" id="name" placeholder="Username">
                                        <br>
                                        <small id="nameError" class="checkError"></small>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="password" name="password" id="password" placeholder="Password">
                                        <br>
                                        <small id="passwordError" class="checkError"></small>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="submit" name="signUp" id="submitButton">Sign In</button>
                                </div>
                                <div class="mt-2">
                                    <a href="/signup">You don't have an account!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Main -->





    <!-- Footer -->

    <!-- End Footer -->


    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery-3.4.1.min.js"></script>
    <script src="javascripts/script-validation.js"></script>
</body>

</html>