<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
    <link rel="shortcut icon" href="../images/if_laptop_1805073.ico" type="image/x-icon">
</head>

<body>
    <!-- Header -->

    <!-- End Header -->


    <!-- Main -->
    <section>
        <div class="container">
            <div class="row justify-content-around mt-5">
                <div class="col-12 col-md-3">
                    <div class="list-group">
                        <a href="" class="list-group-item list-group-item-action">Applications</a>
                        <a href="" class="list-group-item list-group-item-action">Exams</a>
                        <a href="" class="list-group-item list-group-item-action active">Candidates</a>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="hrAddExams-content">
                        <div class="mb-5">
                            <h3>Add exam</h3>
                        </div>
                        <div class="manageExams mt-5 p-2">
                            <div class="text-right mb-4">
                                <button> + Question</button>
                            </div>
                            <div class="card addQuestion-card">
                                <h5 class="card-header">Q1
                                    <input type="text" class="col-10" value="">
                                </h5>
                                <div class="card-body p-4">
                                    <div class="row mb-4">
                                        <div class="col-12 col-md-6">
                                            <input type="radio" name="choice" id=""
                                                class="form-radio border border-danger" value="">
                                            <input type="text">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="radio" name="choice" id=""
                                                class="form-radio border border-danger" value="">
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <input type="radio" name="choice" id=""
                                                class="form-radio border border-danger" value="">
                                            <input type="text">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="radio" name="choice" id=""
                                                class="form-radio border border-danger" value="">
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 text-right">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Main -->





    <!-- Footer -->

    <!-- End Footer -->


    <script src="../js/bootstrap.min.js"></script>
</body>

</html>